ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e9e8e800;
    /* position: fixed; */
    top: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    margin: auto;
    left: 0px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  /* li a:hover {
    background-color: #f9f5f5;
  } */
  
  .active {
    background-color: #04AA6D;
  }
  img{
    width: 100%;
    height: auto;
  }
  .scnddiv{
    margin-top: 10px;
    position: relative;
  }
  .a{
    margin-top: 10px;
    position: relative;
  }
  .ipad{
    position: absolute;
    top: 0px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 50px;
    font-family: sans-serif;

  }
  .ipad1{
    position: absolute;
    top: 150px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
  }
  .op{
    opacity: 0.9;
  }
  .center{
    margin: auto;
    width: 52%;
    left: 0px;
  }
  .mac{
    position: absolute;
    top: 0px;
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-family: sans-serif;

  }
  .logo{
    width: 11px;
    height: 16px;
  }
  .search{
    top: 5px;
    width: 15px;
    height: 16px;
  }
  .bag{
    width: 20px;
    height: 15px;
  }
  .ipad2{
    position: absolute;
    top: 200px;
    border: 2px solid black;
    padding: 15px;
    border-radius: 40px;
    left: 46%;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
  }
  a{
    text-decoration: none;
    font-family: sans-serif;
  }
  