/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e9e8e800;
    top: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    margin: auto;
    left: 0px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  } */
  
  /* li a:hover {
    background-color: #f9f5f5;
  /* } */
  
  .navbar{
    display: flex;
    justify-content: center;
    background-color: rgba(232, 232, 232, 0.153);
    top: 0px;
    /* position: fixed; */
  }
  .navbar a{
    text-decoration: none;
    padding: 5px 10px;
    color: #000;
  }
  #imgair{
    position: relative;
  }
  img{
    width: 100%;
    height: auto;
  }
  .airpod{
    position: absolute;
    text-align: center;
    border: 1px solid rgba(16, 101, 237, 0.893);
    border-radius: 40px;
    text-align: center;
    bottom: 0px;
    left: 52%;
    padding: 15px;
    font-size:larger;
    background-color: rgb(255, 255, 255);

  }
  .airpod:hover{
    background-color: rgba(16, 101, 237, 0.893);
    color: white;
  }
  .airpod a:hover{
    color: white;
  }
  .airpod a{
    color: rgba(16, 101, 237, 0.893);
  }
  .airpod1{
    position: absolute;
    text-align: center;
    border: 1px solid rgba(16, 101, 237, 0.893);
    border-radius: 40px;
    text-align: center;
    bottom: 0px;
    left: 44%;
    padding: 15px;
    font-size:larger;
    background-color: rgb(255, 255, 255);
  }
  .airpod1:hover{
    background-color: rgba(16, 101, 237, 0.893);
    color: white;
  }
  .airpod1 a:hover{
    color: white;
  }
  .airpod1 a{
    color: rgba(16, 101, 237, 0.893);
  }
  .scnddiv{
    margin-top: 10px;
    position: relative;
  }
  .a{
    margin-top: 10px;
    position: relative;
  }
  .ipad{
    position: absolute;
    top: 0px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    
  }
  .ipad1{
    position: absolute;
    top: 150px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
  }
  .op{
    opacity: 0.9;
  }

  .mac{
    position: absolute;
    top: 0px;
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-family: sans-serif;

  }
  .mac2{
    position: absolute;
    top: 200px;
    border: 2px solid rgba(16, 101, 237, 0.893);
    padding: 15px;
    border-radius: 40px;
    left: 45%;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    
  }
  .mac2 a{
    color: rgba(16, 101, 237, 0.893);
  }
  .mac2:hover{
    background-color: rgba(16, 101, 237, 0.893);
    /* color: white; */
  }
  .mac2 a:hover{
    color: white;
  }

  .mac3{
    position: absolute;
    top: 200px;
    border: 2px solid rgba(16, 101, 237, 0.893);
    padding: 15px;
    border-radius: 40px;
    left: 52%;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    
  }
  .mac3 a{
    color: rgba(16, 101, 237, 0.893);
  }
  .mac3:hover{
    background-color: rgba(16, 101, 237, 0.893);
    /* color: white; */
  }
  .mac3 a:hover{
    color: white;
  }
  .logo{
    width: 11px;
    height: 16px;
  }
  .search{
    top: 5px;
    width: 15px;
    height: 16px;
  }
  .bag{
    width: 20px;
    height: 15px;
  }
  .ipad2{
    position: absolute;
    top: 240px;
    border: none;
    padding: 15px;
    border-radius: 40px;
    left: 45%;
    background-color: rgba(16, 101, 237, 0.893);
    text-decoration: none;
    
  }
  .ipad2 a{
    color: white;
  }


  .ipad3{
    position: absolute;
    top: 240px;
    border: none;
    padding: 15px;
    border-radius: 40px;
    left: 52%;
    background-color: rgba(16, 101, 237, 0.893);
    text-decoration: none;
    
  }
  .ipad3 a{
    color: white;
  }



  a{
    text-decoration: none;
    font-family: sans-serif;
  }
  .watch{
    display: flex;
    position: relative;
    text-align: center;
    color: rgb(23, 11, 11);
    width: 100%;
    font-family: sans-serif;
  }
  .wlogo{
    width: 10px;
    height: 10px;
  }
  .grid{
    display: flex;
    background-color: white;
  }
  .g1{
    flex: 50%;
    background-color: white;
    padding: 20px;
    height: auto;
  }
  .g2{
    flex: 50%;
    background-color: white;
    padding: 20px;
    height: auto;
  }
  .grid2{
    display: flex;
    background-color: white;
  }
.g3{
  flex: 50%;
  background-color: white;
  padding: 20px;
  height: auto;
}  
.g4{
  position: relative;
  flex: 50%;
  background-color: white;
  padding: 20px;
  height: auto;
}
.appleint{
  position: absolute;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: sans-serif;
}
.scrl{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 600px;
  display: flex;
  overflow: auto;
  transition-delay: 0.5s;
}
.scrl img{
  padding: 5px 5px;
}
.watchtxt{
  position: absolute;
}
.appinttxt{
  position: relative;
}
.scrl2{
  background-color: white;
  width: 100%;
  height: 200px;
  display: flex;
  overflow: auto;
}
.scrl2 img{
  padding: 5px 5px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(249, 250, 252);
}
.footer div{
  background-color: rgb(249, 250, 252);
  color: rgb(128, 127, 127);
  font-size: 14px;
  font-family: sans-serif;
  width: 1000px;
  height: 100%;
}
