/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e9e8e800;
    top: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    margin: auto;
    left: 0px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  } */
  
  /* li a:hover {
    background-color: #f9f5f5;
  /* } */
  
  .navbar{
    display: flex;
    justify-content: center;
    background-color: rgba(232, 232, 232, 0.153);
    top: 0px;
    /* position: fixed; */
  }
  .navbar a{
    text-decoration: none;
    padding: 5px 10px;
    color: #000;
  }
  img{
    width: 100%;
    height: auto;
  }
  .scnddiv{
    margin-top: 10px;
    position: relative;
  }
  .a{
    margin-top: 10px;
    position: relative;
  }
  .ipad{
    position: absolute;
    top: 0px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 50px;
    font-family: sans-serif;

  }
  .ipad1{
    position: absolute;
    top: 150px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
  }
  .op{
    opacity: 0.9;
  }

  .mac{
    position: absolute;
    top: 0px;
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-family: sans-serif;

  }
  .mac2{
    position: absolute;
    top: 200px;
    border: 2px solid black;
    padding: 15px;
    border-radius: 40px;
    left: 46%;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    
  }
  .logo{
    width: 11px;
    height: 16px;
  }
  .search{
    top: 5px;
    width: 15px;
    height: 16px;
  }
  .bag{
    width: 20px;
    height: 15px;
  }
  .ipad2{
    position: absolute;
    top: 220px;
    border: none;
    padding: 15px;
    border-radius: 40px;
    left: 46%;
    background-color: rgba(16, 101, 237, 0.893);
    text-decoration: none;
    
  }
  a{
    text-decoration: none;
    font-family: sans-serif;
  }
  .grid{
    display: flex;
    background-color: white;
  }
  .g1{
    flex: 50%;
    background-color: white;
    padding: 20px;
    height: auto;
  }
  .g2{
    flex: 50%;
    background-color: white;
    padding: 20px;
    height: auto;
  }
  .grid2{
    display: flex;
    background-color: white;
  }
.g3{
  flex: 50%;
  background-color: white;
  padding: 20px;
  height: auto;
}  
.g4{
  flex: 50%;
  background-color: white;
  padding: 20px;
  height: auto;
}
